.ActivityReserved{



}
.message-info{
    display: grid;
    grid-template-columns: 100%;
    position: absolute;
    margin-top: 50vh;
    width: 80%;
    margin-left: 10%;
    padding: 5%;
    background-color: rgb(252, 252, 252);
    >button{

 
    }
    
}

.container-buttons-message{


    display: grid;
    grid-template-columns: 50% 50%;
}