.InfoRegisterUser{
 display: flex;
 flex-direction: column;
 margin-top: 20%;
 align-items: center;
    >input{
        padding: 3%;
        margin: 2%;
        width: 50%;
 
      
    }
    >button{
        padding: 3%;
        margin: 2%;
        width: 50%;
        background-color: black;
        color: white;
    
    }
   
   
}

.inputs-color{
 
}