.VerificationCode{
    margin-top: 40%;
    display: flex;
    justify-content: space-evenly;
>input{
    width: 5%;
    padding: 2%;
    font-size: 2rem;
}
  
}

.button-div{
   display: flex;
   flex-direction: column;
   align-items: center;

    >button{
 
      padding: 3%;
        margin: 5%;
        width: 50%;
       

    }
}